html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/styles.css')
    script(type='application/javascript' src='/bower_components/jquery/dist/jquery.js')
    script(type='application/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.js')


    meta(name="viewport" content="width=device-width, init-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title=title
  body
    section#header-container
    section#main-container
    .container
      .row
        .col-sm-4 A
        .col-sm-4 B
        .col-sm-4 C
        
    script(type='application/javascript' src='/app.js')
