html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/app.css')
    script(type='application/javascript' src='/lib-app.js')


    meta(name="viewport" content="width=device-width, init-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title=title
  body
    section#header-container
    section#main-container
    .container
      .row
        .col-sm-4 A
        .col-sm-4 B
        .col-sm-4 C
        
    script(type='application/javascript' src='/app.js')
