body {
	background-color: #f5f8fa;  
}

.btn-blue {
	background-color: #1b95e0;
	color: #FFF;
}
.btn-blue:hover {
	background-color: #0084B4;
	color: #FFF;
}
.navbar {
  margin-bottom: 0;
}

#navbar-collapse-1 {
	margin: 0 2% 0 3.8%;
}

#navbar-collapse-1 ul li a {
	background-color: #FFF;

}
#navbar-collapse-1 ul li a:hover  {
	border-bottom: 3px solid #1b95e0;
	color: #1b95e0;
	/*height:19.3%;*/
}

#navbar-collapse-1 ul li.active {
	border-bottom: 3px solid #1b95e0;
}
#navbar-collapse-1 ul li.active a {
	color: #1b95e0;
}
#navbar-collapse-1 ul li.active a:hover {
	border: 0;
	height:inherit;
}

.navbar-default {
	border-color: #FFF;
    border: 1px solid #e1e8ed;
    background-color: #FFF;
}

.navbar-center {
   display: inline-block !important;
    margin-left: 17%;
    margin-top:10px;
}

.container-fluid {
    padding-right: 40px;
}

#searchFormValue {
	background-color: #f5f8fa;
	border: 1px solid #e1e8ed;
}

#searchForm .form-group {
	position: relative;
	margin-right:-5px;
}
#searchForm .form-group input {
	padding-right: 50px;
    border-radius: 14px;
}
#searchForm .form-group i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}

#avatar ul.dropdown-menu li a:hover {
    border: 0;
    color: #FFF;
    background-color: #1b95e0;
}

#avatar .btn {
	border: 0;
}
#avatar .btn:hover {
	background-color: #FFF;
}
#avatar .btn img{
	margin: -5px;
	border-radius: 5px;
}

#profile-background {
	background-color: #DD2E44;
	height:175px;
	width:100%;
}
#profile-background img {
	margin-left: 90px;
    margin-top: 50px;
	height:200px;
	width:200px;
	border-radius: 10px;
    border: 5px solid #FFF;
}
#profile-numbers {
	color:grey;
	text-align:center;
	padding-top:10px;	
	background-color: #FFF;
	border-bottom: 1px solid #e1e8ed;
}
#profile-numbers ul {
	display: flex;
}
#profile-numbers ul li {
	margin-right:30px;
	list-style-type: none;
	font-size: .9em;
}
#profile-numbers .relevant {
	color:#dd2e44;
	font-size:1.5em;
}
#profile-numbers button {
	margin-left: 25px;
    border: 1px solid #e1e8ed;
    background-color: #f7f9fb;
    font-weight: 900;
}
#profile-numbers button:hover {
    background-color: #f0f4f6;
}


