@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$blue-color: #1b95e0;
$white: #f5f8fa;
$black: #fff;
$clear-grey: #e1e8ed;
$dark-red: #dd2e44;
$grey: #808080;

body {
	background-color: $white;  
}

.btn-blue {
	background-color: $blue-color;
	color: $black;
}
.btn-blue:hover {
	background-color: #0084B4;
	color: $black;
}
.navbar {
  margin-bottom: 0;
}

#navbar-collapse-1 {
	margin: 0 2% 0 3.8%;
}

#navbar-collapse-1 ul li a {
	background-color: $black;

}
#navbar-collapse-1 ul li a:hover  {
	border-bottom: 3px solid $blue-color;
	color: $blue-color;
}

#navbar-collapse-1 ul li.active {
	border-bottom: 3px solid $blue-color;
}
#navbar-collapse-1 ul li.active a {
	color: $blue-color;
}
#navbar-collapse-1 ul li.active a:hover {
	border: 0;
	height:inherit;
}

.navbar-default {
	border-color: $black;
    border: 1px solid $clear-grey;
    background-color: $black;
}

.navbar-center {
   display: inline-block !important;
    margin-left: 17%;
    margin-top:10px;
}

.container-fluid {
    padding-right: 40px;
}

#searchFormValue {
	background-color: $white;
	border: 1px solid $clear-grey;
}

#searchForm .form-group {
	position: relative;
	margin-right:-5px;
}
#searchForm .form-group input {
	padding-right: 50px;
    border-radius: 14px;
}
#searchForm .form-group i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}

#avatar ul.dropdown-menu li a:hover {
    border: 0;
    color: $black;
    background-color: $blue-color;
}

#avatar .btn {
	border: 0;
}
#avatar .btn:hover {
	background-color: $black;
}
#avatar .btn img{
	margin: -5px;
	border-radius: 5px;
}

#profile-background {
	background-color: $dark-red;
	height:175px;
	width:100%;
	margin-top: 54px;
}
#profile-background img {
    margin-left: 103px;
    margin-top: 65px;
    height: 211px;
    border-radius: 10px;
    border: 5px solid $black;
}

#profile-numbers {
	color: $grey;
	text-align:center;
	padding-top:10px;	
	background-color: $black;
	border-bottom: 1px solid $clear-grey;
	margin: 0;
}

#profile-numbers ul {
	display: flex;
	margin-bottom:0;
}
#profile-numbers ul li {
  margin-right: 30px;
  list-style-type: none;
  font-size: .8em;
}
#profile-numbers ul li#relevant {
  border-bottom: 3px solid $dark-red;
  width: 10%;
  color:#000;
}
#profile-numbers a {
  color: $grey;
}
#profile-numbers a:hover {
  color: $dark-red;
  text-decoration:none;
}
#profile-numbers ul li#relevant a:hover{
  color:#000;
  text-decoration:none;
}
#profile-numbers span {
  color: $dark-red;
	font-size:1.5em;
}
#profile-numbers span#relevant {
  color: #000;
  font-size:1.5em;
}
#profile-numbers button {
	margin-left: 25px;
    border: 1px solid $clear-grey;
    background-color: #f7f9fb;
    font-weight: 900;
}
#profile-numbers button:hover {
    background-color: #f0f4f6;
}

#main-container {
	margin-top:20px;
}
#main-container a {
	color: $dark-red;
}
#main-container #name {
	font-weight: 900;
	font-size: 1.5em;
	margin-bottom: -5px;
	margin-top: 40px;
}
#main-container #name a{
	color:#000;
}
#main-container #nickname a{
	color: $grey;
}
#main-container #metadata p {
	margin-bottom: 5px;
	vertical-align: top;
}
#main-container #metadata p i, #main-container #multimedia p i{
	vertical-align: top;
	color: $grey;
}
#main-container #metadata p span{
	vertical-align: bottom;
}
#main-container #multimedia {
	margin-top:20px;
}
#main-container #multimedia .col-sm-4{
	padding-left:0;
}
#main-container #multimedia img{
	border-radius: 5px;
}

#content {
  background-color: $black;
  border-radius: 10px;
  border: 1px solid $clear-grey;
  padding:0;
}
#content ul {
  display: flex;
  padding-left:15px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid $clear-grey;
}
#content ul li {
  list-style-type: none;
  font-size:1.3em;
  padding-right: 40px;
}
#content li#relevant a {
  color: #000;
}

.twitCard {
	margin: 10px;
	border-bottom: 1px solid $clear-grey;
	padding-top:10px;
	padding-bottom:10px;
}
.twitCard i {
	margin-left:188%;
	margin-bottom:10px;
	font-size:.9em;
}
.twitCard img {
	height:48px;
	border-radius:5px;
}
.twitCard .right {
	margin-left:10px;
}
.twitCard .name {
	font-weight:900;
	margin-top:-15px;
}
.twitCard .name a{
	color:#000 !important;
}
.twitCard .username a{
	color:#777 !important;
}
.twitCard .name a:hover, .twitCard .data a:hover{
	color:$dark-red !important;
}
.twitCard .username a:hover{
	text-decoration:none;
}
.twitCard .data a{
	color:#777 !important;
}
.twitCard .username {
	color:grey;
}
.twitCard #pinned {
	margin-bottom:3px;
	color:grey;
	font-size:.9em;
}